# Fichiers sensibles
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data volumineuse ou temporaire
*.csv
*.sqlite
*.db
data/models/
data/config/
data/routes/

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
